<% render "layouts/errors", :object => @skill %>

<div class="forms">
  <%= bootstrap_form_for @skill, html: { multipart: true } do |f| %>
    <%= f.text_field :skill_name %>
    <br>
    <%= f.text_area :skill_description %>
    <br>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "Add skill", class: "btn btn-info" %>
  <% end %>
  <br>

  <%= link_to "Return home", skills_path %>
</div>
