<header>
  <div class="container" align="center">
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
               <div class="modal-body">
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>


  <div class="title">
    <nav class="navbar navbar-transparent" data-spy="affix" data-offset-top="197">
      <div class="nav navbar-nav">
        <li class="active"></li>
        <li><button type="button" class="modalButton" data-name="<%= render :partial => "homes/about" %>" data-toggle="modal">about</button> </li>
        <li><button type="button" class="modalButton" data-name="<%= render :partial => "homes/skills" %>" data-toggle="modal">skills</button></li>
        <li><button type="button" class="modalButton" data-name="<%= render :partial => "homes/project" %>" data-toggle="modal" >projects</button></li>
      <div/>
    </nav>




    <div class="row" id="header-row">
      <br><br>
      <div>
        <%= image_tag("me.png", :class=> "img-circular") %>
      </div>
      <br>
      <div class="column right">
        <h2>KAILA GOFF</h2>
        <h5>SOFTWARE DEVELOPER</h5>
        <h6>portland, or</h6>
        <div class="row">
          <a href="https://github.com/kailagoff" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/kailagoff/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
          <a href="mailto:kaila.goff@gmail.com"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i></a>
        </div>

      </div>
    </div>
    <div id="footer-img">
      <%= image_tag("kgicondraft.png", :size => "100x67") %>
    </div>
  </div>
</header>
