<% render "layouts/errors", :object => @photo %>
<div class="forms">

  <%= bootstrap_form_for @photo, html: { multipart: true } do |f| %>
    <%= f.text_field :photo_name %>
    <br>
    <%= f.text_area :photo_description %>
    <br>
    <%= f.file_field :image %>
    <br>
    <%= f.submit "Add Photo", class: "btn btn-info" %>
  <% end %>
  <br>

  <%= link_to "Return home", root_path %>

</div>
