<div class="container">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="col-md-6">
        <div id="posts_list">
          <h5><%= link_to post.title, post_path(post) %></h5>
          <%= image_tag(post.image.url(:large)) %>
          <h4>Comments: <div id="length_<%= post.id %>"><%= post.comments.length %></h4></div>
          <h4><%= link_to "Show comments", post_path(post), id: "show_comments_link_#{ post.id }", remote: true  %></h4>
          <% if current_user %>
            <h4><%= link_to "Add a comment", new_post_comment_path(post), id: "new_comment_link_#{ post.id }", remote: true %></h4>
          <% else %>
            <p><%= link_to "Sign in to add a comment.", new_user_session_path %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
